[Unit]
Description=Trouble in Terrorist Town server
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
Nice=-5
#Type=forking #causes everything to fail when uncommented cause ExecStart times out because start.sh doesnt terminate as long as server runs
User=steam
Group=steam
NoNewPrivileges=true
# KillMode=none
# SuccessExitStatus=0 1
# ProtectHome=true
# ProtectSystem=full
# PrivateDevices=true
StandardOutput=journal
StandardOutput=append:/var/log/garrysmod.log
StandardError=append:/var/log/garrysmod.err
Restart=always
# Environment="LD_LIBRARY_PATH=./linux64"
WorkingDirectory=/home/steam/GarrysModDS
#ExecStartPre=
ExecStart=/home/steam/GarrysModDS/srcds_run -console -game 'garrysmod' +gamemode 'terrortown' +sv_setsteamaccount '<x>' +host_workshop_collection '1526838171' +maxplayers '12' +map 'ttt_metropolis'
#RemainAfterExit=True

[Install]
WantedBy=multi-user.target
