[Unit]
Description=Satisfactory dedicated server
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
Nice=-10
User=steam
Group=steam
NoNewPrivileges=true
StandardOutput=journal
StandardOutput=append:/var/log/satisfactory.log
StandardError=append:/var/log/satisfactory.error
Environment="LD_LIBRARY_PATH=./linux64"
# ExecStartPre=/usr/games/steamcmd +force_install_dir /home/steam/SatisfactoryDedicatedServer +login anonymous +app_update 1690800 validate +quit
WorkingDirectory=/home/steam
ExecStart=/home/steam/SatisfactoryDedicatedServer/FactoryServer.sh \
            -Port=7777 \
            -log \
            -unattended \
            -multihome=::

[Install]
WantedBy=multi-user.target
