[Unit]
Description=Minecraft dedicated server: %i
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
Nice=-5
#Type=forking
User=minecraft
Group=minecraft
NoNewPrivileges=true
# KillMode=none
# SuccessExitStatus=0 1
# ProtectHome=true
# ProtectSystem=full
# PrivateDevices=true
StandardOutput=journal
StandardOutput=append:/var/log/minecraft.log
StandardError=append:/var/log/minecraft.err
Restart=always
# Environment="LD_LIBRARY_PATH=./linux64"
WorkingDirectory=/opt/minecraft/vanilla
#ExecStartPre=
ExecStart=java -Xmx4G -Xms4G -jar /opt/minecraft/vanilla/server.jar nogui
#RemainAfterExit=True

[Install]
WantedBy=multi-user.target
